#sudokuGrid {
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}


.borderRight {
    -fx-border-color: black;
    -fx-border-width: 0 3px 0 0;
}

.borderBottom {
    -fx-border-color: black;
    -fx-border-width: 0 0 3px 0;
}

.borderBottomRight {
    -fx-border-color: black;
    -fx-border-width: 0 3px 3px 0;
}
