#sudokuGrid {
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}


.borderRight {
    -fx-border-color: black;
    -fx-border-width: 0 3px 0 0;
}

.borderBottom {
    -fx-border-color: black;
    -fx-border-width: 0 0 3px 0;
}

.borderBottomRight {
    -fx-border-color: black;
    -fx-border-width: 0 3px 3px 0;
}

.generated {
    -fx-background-color: rgb(222, 250, 195);
}

TextField {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-radius: 0 ;
}