#sudokuGrid {
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-width: 1px;
}

.label {
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-width: 1px;
}

.generatedField {
    -fx-control-inner-background: green;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}